

<template name="leaderboard">
    <ol class="leaderboard">
    	{{#each player}}
        	<li class="player {{selectedClass}}">{{name}}: {{score}}</li>
    	{{/each}}
	</ol>
  <button type="button" class="increment btn btn-primary">+5 points</button>
  <button type="button" class="decrement btn btn-primary">-5 points</button>
	{{#if showSelectedPlayer}}
    	<li>Selected Player: {{showSelectedPlayer.name}}</li>
	{{/if}}

	{{#if currentUser}}
		{{> addPlayerForm}}
	{{/if}}	
	<input type="button" class="remove" value="Remove Player">
</template>

